/* تكليف 1  */
/* -->> html
<div>
<p>This Is Paragraph</p>
</div>
*/

div {
    text-align: center;
    color: black;
    border: 5px solid green;
    padding: 50px;
    margin: 50px;
    font-size: 30px;
}

p {
    border: inherit;
    padding: inherit;
    background-color: rgb(212, 208, 208);

}



 

/* تكليف 2  */
/* 
>>html
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CSS</title>
        <link rel="stylesheet" href="index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Jomhuria&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    </head>
    <body>
<div>
  <p class="first">elzero web school</p>
  <p class="second">elzero web school</p>
  <p class="third">elzero web school</p>
</div>    </body>
</html>
*/
.first{
    text-transform: capitalize;
    font-family:"Open Sans";
    font-weight:300;
}
.second{
    text-transform: capitalize;
    font-family: "Cairo";
    font-weight:700;
}
.third{
    text-transform: capitalize;
    font-family:"Jomhuria";
    font-weight:400;
}







/* تكليف 3  */
/* 
-->>>html
<div>
  <p class="first">elzero web school</p>
  <p class="second">elzero web school</p>
  <p class="third">elzero web school</p>
</div>  
*/
html{
    font-size: 20px;
}
.first{
    text-transform: capitalize;
    font-size: 2.5rem;
}
.second{
    text-transform: capitalize;
    font-size: 2rem;

}
.third{
    text-transform: capitalize;
    font-size: 1.5rem;

}