 /* تكليف 1  */
 /* 
 --->>html
         <p>elzero web school</p>
 */
 
 p{
    text-transform: capitalize;
    color: black;
    text-shadow: 0.5px 0 0 rgb(255, 68, 0),
                 1px 0 0 rgb(49, 164, 195),
                 1.5px 0 0 rgb(112, 80, 182);
}
 
 
 
 
 
 
 
 
 
 /* تكليف 2  */
 /* 
 --->> html
<p class="one">elzero Web school</p>
<p class="two">elzero Web school</p>
<p class="three">elzero Web school</p>
 */
 .one{
    text-transform: uppercase;
}
.two{
    text-transform: capitalize;
}
.three{
    text-transform: lowercase;
}








/* تكليف 3  */
/* -->>html
<div>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
  Ea itaque fugit vitae incidunt quis dolores? Id alias
  eveniet sequi perspiciatis iusto impedit,
  accusamus maxime reprehenderit blanditiis adipisci sapiente hic velit.
</div>
*/
div{
    width: 400px;
    padding: 10px;
    color: black;
    background-color: rgb(201, 201, 201);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* تكليف 4 */
/* 
--->html
<a href="https://elzero.org">elzero</a>
*/
a{
    display: inline-block;
    /* box-sizing: border-box; */
    text-transform: capitalize;
    color: white;
    background-color: rgb(23, 157, 112);
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgb(10, 75, 57);
    
}



